# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- markdown cells with heading styles
- add comments to codes
- add ordered and unordered list
- add markdown cells

Some of the popular languages that Data Scientists use are:
1. python
2. sql
3. R

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. matplotlib

| Data Science Tools |
|--------------------|
| anaconda |
| jupyter |
| r studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
(3*4)+5

#This a simple arithmetic expression to mutiply then add integers

17

In [9]:
minutes = 200
hours = minutes / 60
print(hours,"hours")
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335 hours

## Author
Raees Kasim K E